<div class="kanban-column">
  <div class="kanban-column-header">
    <h2 class="kanban-column-title">{{ column().title }}</h2>
    <span class="kanban-column-count">{{ column().count }}</span>
  </div>

  <div
    class="kanban-column-list"
    cdkDropList
    [id]="listId()"
    [cdkDropListData]="column().tasks"
    [cdkDropListConnectedTo]="column().connectedLists!"
    (cdkDropListDropped)="onDrop($event)"
  >
    @for (task of column().tasks; track trackByTaskId($index, task)) {
    <div cdkDrag [cdkDragData]="task">
      <app-kanban-task-card [task]="task" />
    </div>
    }
  </div>

  <button class="kanban-column-add" type="button">
    <span>+</span>
    <span>Add Task</span>
  </button>
</div>
